* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  --cor-primaria: #212121;
  --cor-secundaria: #f9a825;
  --fonte-padrao: helvetica;
  --cor-fonte: #eceff1;
}

#text-main {
  border-right: dashed;
}

p {
  font-family: var(--fonte-padrao);
  padding-right: 30px;
}

main.flex div {
  height: auto;
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
}

.container p {
  width: 50vh;
  margin: 20px;
  line-height: 25px;
}

div.container.flex {
  width: auto;
}

button.flex {
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--cor-secundaria);
  margin-left: 20px;
  box-shadow: 10px;
  font-family: var(--fonte-padrao);
}

.container input {
  align-items: center;
  margin: 20px;
  height: 5px;
  width: 180px;
  border-radius: 10px;
  padding: 15px;
  font-family: var(--fonte-padrao);
}

main.flex {
  justify-content: center;
  padding-top: 30vh;
}

#content-footer {
  color: var(--cor-fonte);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: var(--fonte-padrao);
}

footer p,
ul {
  color: var(--cor-fonte);
  justify-content: space-around;
  align-items: center;
}

p#logo {
  font-family: var(--fonte-padrao);
  color: var(--cor-fonte);
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: var(--fonte-padrao);
  color: var(--cor-fonte);
}

a#btnHome {
  background-color: var(--cor-secundaria);
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

li {
  margin-right: 80px;
}

header,
footer {
  width: 100%;
  margin: auto;
}

header {
  height: 40px;
}

footer {
  height: 80px;
}

header#tagheader {
  border-bottom: 4px solid var(--cor-primaria);
  height: 60px;
}

.flex {
  display: flex;
}

header#tagheader p,
header#tagheader nav {
  width: 50%;
  background-color: var(--cor-primaria);
}

header#tagheader nav ul {
  justify-content: flex-end;
  width: 100%;
}

a#btnContato:hover {
  background-color: tomato;
  padding: 5px;
  border-radius: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--cor-primaria);
}
